<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <%- include('./css/style'); %>
    <!-- BOOTSTRAP CDN -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('tap2')%>
    <div class="clearfix"></div>

    <header class="header">
        <div class="container"><h1></h1>
            <div class="header_area">
                <font color= #FFFFFF ><h1>ยินดีต้อนรับเข้าสู่เว็บ<br> ยืม - คืนอุปกรณ์กีฬา</h1></font>
            </div>
        </div>
    </header>
   
</body>
</html>